:root {
    /* Black */
    --black-975: 0 1% 40%;
    --black-950: 0 2% 36%;
    --black-900: 0 2% 32%;
    --black-800: 0 2% 28%;
    --black-700: 0 2% 25%;
    --black-600: 0 2% 22%;
    --black-500: 0 1% 16%;
    --black-400: 0 2% 13%;
    --black-300: 0 2% 12%;
    --black-200: 0 2% 10%;
    --black-100: 60 3% 7%;
    --black-50: 60 20% 1%;
    --black: 0 0% 0%;

    /* White */
    --white-1000: 0 0% 100%;
    --white-975: 30 25% 98%;
    --white-950: 0 7% 97%;
    --white-900: 0 4% 95%;
    --white-800: 40 10% 94%;
    --white-700: 60 2% 90%;
    --white-600: 180 3% 85%;
    --white-500: 0 1% 79%;
    --white-400: 0 2% 76%;
    --white-300: 0 2% 71%;
    --white-200: 60 1% 66%;
    --white-100: 60 1% 58%;
    --white-50: 20 1% 48%;

    /* Red */
    --red-975: 0 100% 97%;
    --red-950: 0 100% 96%;
    --red-900: 0 68% 89%;
    --red-800: 0 85% 77%;
    --red-700: 0 71% 63%;
    --red-600: 0 78% 55%;
    --red-500: 0 69% 40%;
    --red-400: 0 84% 25%;
    --red-300: 0 38% 22%;
    --red-200: 0 29% 18%;
    --red-100: 0 33% 10%;
    --red-50: 0 60% 6%;

    /* Magenta */
    --magenta-975: 344 100% 97%;
    --magenta-950: 343 68% 94%;
    --magenta-900: 345 86% 86%;
    --magenta-800: 345 67% 77%;
    --magenta-700: 345 100% 61%;
    --magenta-600: 345 67% 50%;
    --magenta-500: 348 68% 45%;
    --magenta-400: 348 58% 39%;
    --magenta-300: 348 58% 33%;
    --magenta-200: 348 38% 21%;
    --magenta-100: 347 45% 10%;
    --magenta-50: 347 76% 5%;

    /* Purple */
    --purple-975: 228 100% 97%;
    --purple-950: 229 100% 93%;
    --purple-900: 229 100% 90%;
    --purple-800: 233 100% 78%;
    --purple-700: 240 100% 71%;
    --purple-600: 241 83% 65%;
    --purple-500: 239 50% 55%;
    --purple-400: 239 42% 46%;
    --purple-300: 241 47% 35%;
    --purple-200: 238 45% 22%;
    --purple-100: 234 33% 12%;
    --purple-50: 232 33% 9%;

    /* Blue */
    --blue-975: 212 100% 97%;
    --blue-950: 213 95% 93%;
    --blue-900: 211 96% 78%;
    --blue-800: 216 92% 62%;
    --blue-700: 220 84% 53%;
    --blue-600: 223 77% 48%;
    --blue-500: 223 77% 39%;
    --blue-400: 225 73% 35%;
    --blue-300: 224 71% 30%;
    --blue-200: 225 64% 21%;
    --blue-100: 226 61% 11%;
    --blue-50: 226 61% 8%;

    /* Cyan */
    --cyan-975: 189 100% 96%;
    --cyan-950: 188 100% 93%;
    --cyan-900: 191 94% 79%;
    --cyan-800: 191 94% 66%;
    --cyan-700: 189 100% 49%;
    --cyan-600: 189 97% 45%;
    --cyan-500: 191 100% 40%;
    --cyan-400: 191 100% 31%;
    --cyan-300: 192 100% 25%;
    --cyan-200: 193 100% 15%;
    --cyan-100: 191 84% 10%;
    --cyan-50: 193 86% 5%;

    /* Teal */
    --teal-975: 162 92% 95%;
    --teal-950: 160 96% 90%;
    --teal-900: 161 96% 80%;
    --teal-800: 161 76% 67%;
    --teal-700: 161 96% 59%;
    --teal-600: 161 96% 47%;
    --teal-500: 161 86% 40%;
    --teal-400: 161 90% 30%;
    --teal-300: 161 100% 21%;
    --teal-200: 161 95% 17%;
    --teal-100: 162 95% 8%;
    --teal-50: 162 100% 4%;

    /* Green */
    --green-975: 128 100% 97%;
    --green-950: 128 60% 95%;
    --green-900: 109 44% 93%;
    --green-800: 131 34% 85%;
    --green-700: 132 39% 67%;
    --green-600: 132 33% 50%;
    --green-500: 132 48% 40%;
    --green-400: 132 41% 29%;
    --green-300: 132 28% 22%;
    --green-200: 130 28% 17%;
    --green-100: 132 22% 9%;
    --green-50: 132 16% 6%;

    /* Yellow */
    --yellow-975: 40 84% 95%;
    --yellow-950: 42 78% 91%;
    --yellow-900: 42 100% 82%;
    --yellow-800: 42 91% 62%;
    --yellow-700: 41 90% 45%;
    --yellow-600: 41 88% 40%;
    --yellow-500: 41 100% 29%;
    --yellow-400: 48 98% 22%;
    --yellow-300: 53 45% 15%;
    --yellow-200: 51 34% 12%;
    --yellow-100: 41 89% 7%;
    --yellow-50: 42 92% 5%;

    /* Orange */
    --orange-975: 12 100% 97%;
    --orange-950: 11 73% 94%;
    --orange-900: 14 74% 82%;
    --orange-800: 14 100% 70%;
    --orange-700: 15 81% 56%;
    --orange-600: 14 66% 49%;
    --orange-500: 14 75% 39%;
    --orange-400: 14 72% 28%;
    --orange-300: 14 64% 24%;
    --orange-200: 9 35% 15%;
    --orange-100: 11 22% 10%;
    --orange-50: 9 19% 7%;
}