@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&family=IBM+Plex+Mono:wght@400;600&display=swap');
@import "../theme/theme.css";
@import "../theme/tokens.css";
@import "../theme/utilities.css";
@import "../theme/design-tokens.css";

@import "tailwindcss";
@plugin 'tailwindcss-animate';